<html>
<head>
	<title>Index</title>
</head>
<body>
    <form action="/api/toolbar/save" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label>Text</label>
            <input type="text" name="text" />
        </div>
        <div>
            <label>Idx</label>
            <input type="text" name="idx" />
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>