<html>
<head>
    <title>Index</title>
    <script type="text/javascript" src="/js/vendors/jquery.min.js"></script>
</head>
<body>
    <form action="/api/toolbar/save" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label>Text</label>
            <input type="text" name="text" />
        </div>
        <div>
            <label>Idx</label>
            <input type="text" name="idx" />
        </div>
        <div>
            <label>Int</label>
            <input type="text" name="int" />
        </div>
        <div>
            <label>Float</label>
            <input type="text" name="float" />
        </div>
        <div>
            <label>Date</label>
            <input type="text" name="date" />
        </div>
        <div>
            <button type="submit" id="btnSave1">Save 1</button>
        </div>
    </form>
</body>
</html>
